USE [Test_MS10]
GO
/****** Object:  Schema [Test_MS10]    Script Date: 11/26/2024 4:39:23 PM ******/
CREATE SCHEMA [Test_MS10]
GO

CREATE SEQUENCE Test_MS10.CountBy1
	AS INT
	START WITH 1
	INCREMENT BY 1;
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/26/2024 4:39:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Code] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DoB] [date] NOT NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([Code], [Name], [DoB], [Position]) VALUES (N'NV_1989_07_07_19', N'Employee 19', CAST(N'1989-07-07' AS Date), 2)
INSERT [dbo].[Employee] ([Code], [Name], [DoB], [Position]) VALUES (N'NV_1990_01_01_16', N'Employee 16', CAST(N'1990-01-01' AS Date), 1)
INSERT [dbo].[Employee] ([Code], [Name], [DoB], [Position]) VALUES (N'NV_1990_02_01_17', N'Employee 17', CAST(N'1990-02-01' AS Date), 2)
GO
